<!DOCTYPE html>
<html>

<head>
    <h>Node js</h>
</head>

<body>
    <h2>hello santhana krishna</h2>
    <ul>
        <strong>post request: </strong>
        <p><strong>name: </strong>
            <%= data.name %>
        </p>
        <p><strong>department: </strong>
            <%= data.department %>
        </p>
        <p><strong>email: </strong>
            <%= data.email %>
        </p>
    </ul>



</body>

</html>